In [2]:
import pandas as pd
import numpy as np

In [4]:
df_retail = pd.read_csv('/Users/victor/code/escp/hackaton/data/retailer.csv')

In [16]:
df_retail

,customer_id,timestamp_utc,event_name,brand,product_name,sales,quantity
0,reFs5GI87lXJkJSi9r,2024-02-07 02:27:10,Product Page View,NaN,NaN,NaN,NaN
1,reFs5GI87lXJkJSi9r,2024-06-12 16:16:54,Product Page View,Science Diet,SD Fel A7+ SavCknEnt 24x5.5oz cs,NaN,NaN
2,reTjziox2cSrxVq70Y,2024-02-28 04:11:46,Product Page View,NaN,NaN,NaN,NaN
3,reTjziox2cSrxVq70Y,2024-02-28 04:30:42,Product Page View,Science Diet,SD Fel Adt HBC OFEnt 24x5.5oz cs,NaN,NaN
4,reOrpt9vhSwhbPVtni,2024-06-01 22:22:30,Product Page View,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
9866044,reyDBmXbnOf7TcT6by,2024-05-15 04:19:00,Add to cart,Science Diet,SD Pup SmPws Ckn 4.5lb bg,NaN,NaN
9866045,re7dJWp0cd6WImOd2k,2024-05-19 22:12:24,Add to cart,Science Diet,SD Pup SmPws Ckn 4.5lb bg,NaN,NaN
9866046,revepSSHYRYZEOOd3l,2024-02-12 02:38:15,Add to cart,Science Diet,SD Pup SmPws Ckn 4.5lb bg,NaN,NaN
9866047,repbEqvd1DqTN1DNsd,2024-02-22 04:28:19,Add to cart,Science Diet,SD Pup SmPws Ckn 4.5lb bg,NaN,NaN
9866048,reRGH3wpTZ5QEigHh2,2024-01-20 21:22:16,Add to cart,Science Diet,SD Pup SmPws Ckn 4.5lb bg,NaN,NaN

In [ ]:
df_retail['customer_id'].drop_duplicates()

Science Diet         0.819553
Prescription Diet    0.130102
Hills                0.050345
Name: brand, dtype: float64

In [17]:
sum(df_retail['quantity'].isna())

8426738

In [7]:
mapping_trasaction = pd.read_csv('/Users/victor/code/escp/hackaton/data/mapping_transac_publisher_tv.csv')

In [8]:
mapping_trasaction

                customer_id                          dsp_id     device_id
0        reFs5GI87lXJkJSi9r  dsp9tnGII5BeXbn6LUSFZPcKGCyI0F  ctv81YlbBXho
1        reTjziox2cSrxVq70Y  dspCSu1n1mhys37Na5OXMaKaE8P8CS  ctvHmkxqZXBg
2        reOrpt9vhSwhbPVtni  dsp1hXcI9Q6TZYzLEmeTkxzhjqD6HJ  ctvwp5n34myx
3        reutQ3jiBX9Li4Ggqi  dspcd3UcXUcUk0PEo2hb8CEH3WVlFE  ctvdkYC70D2x
4        reH7UgH29AreRh8wWy  dspSnORtuQRLSkZKp9nbSIpbJBQLP1  ctvTgbqnhRd8
...                     ...                             ...           ...
7984406  rers53Z80wb3d34mtx  dspTSnawu2ES3d8m7K1rN14CcqoQXc  ctvJ45lCNmAW
7984407  reFfPzx1jCmscGp8dX  dspbV1X6ia7x8IMxQQgHqasXsZvSev  ctvF8GvF2QtU
7984408  rew49Dee0MRk9OpGd5  dsp4PJIYh8QWwR5FCxYcxPJzUOCuQo  ctvd65OI6HsK
7984409  re4poel4L00ESN8CeI  dspeuhlwK7LBRgCX3sMsSMFIxLHkeD  ctv2WPS9SbdL
7984410  renXXbqWCrrKPbSdoZ                         unknown  ctvXOQXnhOhu

[7984411 rows x 3 columns]

In [10]:
programmatic_df = pd.read_csv('/Users/victor/code/escp/hackaton/data/programmatic_publisher.csv')

In [11]:
programmatic_df

,dsp_id,timestamp_utc,campaign_name,device_type,cost_milli_cent
0,dsp9tnGII5BeXbn6LUSFZPcKGCyI0F,2024-02-06 04:10:41,Contextual,Phone,283.496
1,dsp1hXcI9Q6TZYzLEmeTkxzhjqD6HJ,2024-02-26 23:49:23,Retargeting,PC,1884.537
2,dspcd3UcXUcUk0PEo2hb8CEH3WVlFE,2024-06-16 20:55:27,Contextual,TV,601.930
3,dspSnORtuQRLSkZKp9nbSIpbJBQLP1,2024-06-26 19:15:54,Contextual,TV,1191.750
4,dspSnORtuQRLSkZKp9nbSIpbJBQLP1,2024-05-31 18:38:54,Retargeting,TV,739.262
...,...,...,...,...,...
17493423,dsp4PJIYh8QWwR5FCxYcxPJzUOCuQo,2024-04-10 16:14:37,Retargeting,TV,414.752
17493424,dspeuhlwK7LBRgCX3sMsSMFIxLHkeD,2024-01-31 05:18:26,Retargeting,TV,237.700
17493425,unknown,2024-04-16 02:21:41,Retargeting,TV,128.794
17493426,unknown,2024-04-16 02:38:15,Retargeting,TV,130.560
17493427,unknown,2024-04-18 21:11:21,Retargeting,TV,140.089

In [12]:
socio_demo = pd.read_csv('/Users/victor/code/escp/hackaton/data/socio_demo.csv')

In [13]:
socio_demo

                customer_id        breed      age       income
0        rezLh5Hae3m6flaxM4     Purebred  [25-35[  [120-200K$[
1        resWkHpEcL1IUfdoBp     Purebred  [25-35[   [80-120K$[
2        re9qxF7kS9R2LwOVVY     Purebred  [35-45[   [80-120K$[
3        re3IZNYZY6xr8OAE56     Purebred  [55-65[    [40-80K$[
4        re01lnV2DfgMLdfIF7     Purebred    [65+[   [80-120K$[
...                     ...          ...      ...          ...
1354579  rehuo5qYMHOgUSYcdj  Mixed-breed  [18-25[     [0-40K$[
1354580  re8tSoLIOhPk5czpLm     Purebred  [35-45[    [40-80K$[
1354581  reHJlTYbsdyhpQPXzg  Mixed-breed    [65+[    [40-80K$[
1354582  re0dRkGLDObofTjJNj     Purebred  [35-45[  [120-200K$[
1354583  reAwDA5MSjXhPteWq2  Mixed-breed  [18-25[     [0-40K$[

[1354584 rows x 4 columns]

In [14]:
tv_publisher = pd.read_csv('/Users/victor/code/escp/hackaton/data/tv_publisher.csv')

In [15]:
tv_publisher

            device_id        timestamp_utc  cost_milli_cent
0        ctv81YlbBXho  2024-04-23 21:09:46          2325.51
1        ctvWr7bOO5Je  2024-04-19 18:31:30          2325.51
2        ctvktBqDUgcV  2024-05-07 23:32:37          2325.51
3        ctv4bFFpBJms  2024-06-28 00:10:10          2325.51
4        ctvFZB9pUMZ7  2024-05-24 03:45:45          2325.51
...               ...                  ...              ...
5827128  ctvyq3Mv8Wyi  2024-05-07 02:27:30          2325.51
5827129  ctvyq3Mv8Wyi  2024-05-08 02:06:55          2325.51
5827130  ctvAxmMKz1Po  2024-05-02 02:28:27          2325.51
5827131  ctv4IsWGzGJ9  2024-03-13 03:43:02          2325.51
5827132  ctv4IsWGzGJ9  2024-03-14 01:26:12          2325.51

[5827133 rows x 3 columns]